{{> post-info post}}

{{#if loggedIn}}


<div class='card'>
  <form class="comment-form card-body" id='comment-form'>

    {{> comments post.comments}}

    <label for 'comment' class='form-label'>Add Comment</label>
    <input type='text' id='comment-body' name='comment-body' class='form-input' />
    <button type="submit" class='btn'>Submit</button>
  </form>
</div>
<div id='edit-delete'>
  <button type='submit' class='btn' id='edit'>Edit</button>
  <button type='submit' class='btn' id='delete'>Delete</button>
</div>
{{/if}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}

<script src="javascript/edit-post.js"></script>
<script src='javascript/delete-post.js'></script>